_auth = YWxleHlwdWxpdmVsaWxAZ21haWwuY29tOkFQN1k1Z1lueFpyczJtZlVNc0R5R3BBcEwyZQ==
email = alexypulivelil@gmail.com
always-auth = true
registry = https://techino.jfrog.io/artifactory/api/npm/npm-challenge-local-npm/